<footer>
    <p>&copy; Company <script language="javascript" type="text/javascript">
        var today = new Date()
        var year = today.getFullYear()
        document.write(year)

      </script>
      .</br>
      Made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="http://solnimbus.com">Solnimbus</a>.</p>
  </footer>
</div>
<!-- /container -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script>
  window.jQuery || document.write('<script src="js/vendor/jquery-3.2.1.min.js"><\/script>')

</script>
<!-- Bootstrap -->
<script src="js/vendor/bootstrap/bootstrap.min.js"></script>
<!-- Core Javascript -->
<script src="js/plugins.js"></script>
<script src="js/main.js"></script>
</body>

</html>